.carrito {
  padding: 140px 6vw;
}

.vacio {
  margin-top: 40px;
  font-size: 1.1rem;
  opacity: 0.6;
}

.item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.info h4 {
  margin: 0;
}

.total {
  margin-top: 30px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
