<section class="max-w-7xl mx-auto px-10">
  <h1 class="text-4xl font-serif tracking-wide mb-16 text-center">
    Colección
  </h1>

  <!-- Menú de categorías -->
  <ul class="flex gap-4 mb-8">
    <li *ngFor="let cat of categorias">
      <a [routerLink]="['/categoria', cat.idCategoria]" class="text-[#C6A97E] hover:underline">
        {{cat.nombre}}
      </a>
    </li>
  </ul>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16">
    <div *ngFor="let p of productos" class="group cursor-pointer">
      <!-- Imagen -->
      <div class="relative bg-[#F5F1EC] overflow-hidden aspect-[3/4] rounded-2xl border border-[#C6A97E] /60">
        <span
          class="absolute top-4 left-4 z-10
                 bg-white/90 text-[#C6A97E]
                 text-[10px] tracking-widest px-4 py-1
                 rounded-full uppercase">
          Nuevo
        </span>
        <img 
          [src]="p.imagenBase64 ? 'data:image/png;base64,' + p.imagenBase64 : p.imagenBase64" 
          [alt]="p.nombre" 
          class="absolute inset-0 w-full h-full object-cover 
                 transition-transform duration-700 ease-out
                 group-hover:scale-105"
        />
      </div>

      <!-- Info -->
      <div class="mt-6 text-center">
        <h3 class="font-serif text-lg tracking-wide text-[#2E2E2E]">
          {{ p.nombre }}
        </h3>
        <p class="text-sm mt-2 text-gray-600">
          {{ p.descripcion }}
        </p>
        <p class="text-[#C6A97E] mt-2 font-medium">
          ${{ p.precio | number:'1.0-0' }}
        </p>
        <button (click)="agregarAlCarrito(p.idProducto)"
                class="mt-2 px-4 py-2 bg-[#C6A97E] text-white rounded hover:bg-[#B5945B]">
          Agregar al carrito
        </button>
      </div>
    </div>
  </div>
</section>
