
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500&display=swap');

:root {
  --primary: #C6A97E;
  --primary-soft: #E6D9C8;
  --background: #F8F5F2;
  --white: #FFFFFF;
  --text-dark: #3A3A3A;
  --text-light: #7A7A7A;
}


/* BODY BASE */
body {
  margin: 0;
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
}


* {
  font-family: 'Inter', sans-serif;
}

/* TIPOGRAFÍAS */
h1, h2, h3, .brand {
  font-family: 'Playfair Display', serif;
}

/* ANIMACIÓN */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease-out forwards;
}

