<section class="max-w-6xl mx-auto px-10 py-24">

  <!-- TÍTULO -->
  <h1 class="text-4xl font-serif mb-20 text-center">
    Checkout
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-24">

    <!-- INFORMACIÓN CLIENTE -->
    <div>
      <h2 class="tracking-widest mb-10">
        INFORMACIÓN
      </h2>

      <input placeholder="Nombre completo" />
      <input placeholder="Email" />
      <input placeholder="Dirección" />
      <input placeholder="Ciudad" />
    </div>

    <!-- RESUMEN -->
    <div>
      <h2 class="tracking-widest mb-10">
        RESUMEN
      </h2>

      <!-- PRODUCTOS -->
      <div
        *ngFor="let item of items$ | async"
        class="border-b py-6 flex justify-between"
      >
        <span class="font-serif">
          {{ item.nombre }}
        </span>
        <span>
          ${{ item.precio | number }}
        </span>
      </div>

      <!-- TOTAL -->
      <div class="py-10 flex justify-between font-bold">
        <span>TOTAL</span>
        <span>
          ${{ total$ | async | number }}
        </span>
      </div>

      <!-- BOTÓN -->
      <button
        (click)="pagar()"
        class="w-full"
      >
        PAGAR
      </button>
    </div>

  </div>
</section>
